<h1>Posts</h1>
<%= link_to 'Add New Post', new_post_path %>
<table>
	<% @posts.each do |post| %>
	<thead>
		<th>Title</th>
		<th>Body</th>
	</thead>
	<tbody>	
		<tr>
			<td><strong><%= post.title.capitalize %></strong></td>
			<td><%= post.body %></td>
			<td><% post.post_tag_weights.each do |w| %>
				<%= w.tag.name %> - 
				<%= w.weight %><br>
				<% end %>
			</td>
			<td><%= link_to 'Edit', edit_post_path(post) %> <%= link_to 'Delete', post, method: :delete %></td>
		</tr>
	</tbody>
	<% end %>
</table>