<body class="new-post" id="form-container">

	<h1>New Post</h1>

	<div class="pure-u-7-24 container-div">

		<%= form_for @post do |f| %><br>
		<label id="newpost-text" style="font-weight: 600;"> ADD A POST:</label> <br><br>
		<%= f.text_field :title, class: "form-control", placeholder: "Post Title" %> <br>
		<%= f.text_area :body, size: '50x20', class: "form-control", placeholder: "Your Post Here..." %><br>
		<%= f.hidden_field :tag_weights, value: '' %><br>
		<%= f.submit 'Create Post', class: "btn btn-success" %>

		<% end %>
	</div>
	<div class="pure-u-1-24"></div>
	<div class="pure-u-6-24 container-div">
		<p id="newpost-text">CHOOSE YOUR TAGS</p>
		<!-- <input type="text" name="tags" placeholder=" Search" id="searchbox"> --><br>
		<div id="tag-list">
		</div>
	</div>
	<div class="pure-u-8-24 container-div">
		<p id="newpost-text">YOUR SELECTIONS</p>

		<div id="tagger-div">
		</div>
	</div>


  <!-- <div class="pure-u-10-24 container-div">
    <div id="pie-chart">
    </div>
</div> -->


<!-- include the main ifs.js file (here so d3 has access to the DOM) -->
<%= javascript_include_tag "newpost" %>

</body>